awscli==1.11.36
boto3==1.4.3
botocore==1.4.93
click==6.7
colorama==0.3.7
docutils==0.13.1
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
jmespath==0.9.0
MarkupSafe==0.23
pyasn1==0.1.9
PyMySQL==0.7.10
python-dateutil==2.6.0
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
uWSGI==2.0.14
Werkzeug==0.11.15
